[submodule "src/Modules/vcpkg"]
	path = src/Modules/vcpkg
	url = https://github.com/crud89/vcpkg.git
[submodule "src/Modules/DirectX-Headers"]
	path = src/Modules/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "docs/modules/doxygen-awesome-css"]
	path = docs/modules/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "docs/themes/hugo-scroll"]
	path = docs/themes/hugo-scroll
	url = https://github.com/janraasch/hugo-scroll.git
