# Line ending configuration.
*.sh text eof=lf
* text eof=crlf

# Map binary files
*.png binary
*.jpg binary
*.psd binary
*.ttf binary
*.woff2 binary

# Legacy shader name mappings.
*.vert linguist-language=HLSL
*.frag linguist-language=HLSL