#pragma once

#cmakedefine BUILD_VULKAN_BACKEND
#cmakedefine BUILD_DIRECTX_12_BACKEND

#cmakedefine BUILD_WITH_GLM
#cmakedefine BUILD_WITH_DIRECTX_MATH

#cmakedefine BUILD_DEFINE_BUILDERS

#define LITEFX_CXX_VERSION @CMAKE_CXX_STANDARD@