#pragma once

#cmakedefine LITEFX_BUILD_VULKAN_BACKEND
#cmakedefine LITEFX_BUILD_DIRECTX_12_BACKEND

#cmakedefine LITEFX_BUILD_MESH_SHADER_SUPPORT
#cmakedefine LITEFX_BUILD_RAY_TRACING_SUPPORT

#cmakedefine LITEFX_BUILD_WITH_GLM
#cmakedefine LITEFX_BUILD_WITH_DIRECTX_MATH

#cmakedefine LITEFX_BUILD_DEFINE_BUILDERS

#define LITEFX_CXX_VERSION @CMAKE_CXX_STANDARD@