#pragma once

#cmakedefine LITEFX_BUILD_VULKAN_BACKEND
#cmakedefine LITEFX_BUILD_DIRECTX_12_BACKEND
#cmakedefine LITEFX_BUILD_VULKAN_INTEROP_SWAP_CHAIN

#cmakedefine LITEFX_BUILD_WITH_GLM
#cmakedefine LITEFX_BUILD_WITH_DIRECTX_MATH

#cmakedefine LITEFX_BUILD_DEFINE_BUILDERS
#cmakedefine LITEFX_BUILD_TESTS

#define LITEFX_CXX_VERSION @CMAKE_CXX_STANDARD@