#pragma once

#include "version.h"
#include "config.h"

#if (defined _WIN32 || defined WINCE)
#  define NOMINMAX
#  include <Windows.h>
#endif

#include <litefx/containers.hpp>
#include <litefx/traits.hpp>