#pragma once

// NOLINTBEGIN(cppcoreguidelines-macro-to-enum)
// NOLINTBEGIN(cppcoreguidelines-macro-usage)

#define LITEFX_MAJOR            @LITEFX_YEAR@
#define LITEFX_MINOR            @LITEFX_RELEASE@
#define LITEFX_REV              @LITEFX_PATCH@
#define LITEFX_STATUS           @LITEFX_BUILD@
#define LITEFX_VERSION          "@LITEFX_VERSION@"
#define LITEFX_ENGINE_ID        "@LITEFX_BUILD_ENGINE_IDENTIFIER@"

// NOLINTEND(cppcoreguidelines-macro-usage)
// NOLINTEND(cppcoreguidelines-macro-to-enum)