#pragma once

#define LITEFX_MAJOR            @LITEFX_YEAR@
#define LITEFX_MINOR            @LITEFX_RELEASE@
#define LITEFX_REV              @LITEFX_PATCH@
#define LITEFX_STATUS           @LITEFX_BUILD@
#define LITEFX_VERSION          "@LITEFX_VERSION@"
#define LITEFX_ENGINE_ID        "@BUILD_ENGINE_IDENTIFIER@"