Checks: |
    clang-analyzer-*,
    cppcoreguidelines-*,
    -clang-analyzer-optin.core.EnumCastOutOfRange
WarningsAsErrors: true
HeaderFilterRegex: '.*'
CheckOptions:
  - key:   cppcoreguidelines-rvalue-reference-param-not-moved.AllowPartialMove
    value: true