# Copyright (c) 2023 Carsten Rudolph
name: Publish Release

on:
  workflow_dispatch:
    inputs:
      major:
        description: 'Major Version'
        required: true
      minor:
        description: 'Minor Version'
        required: true
      build:
        description: 'Build Number'
        required: true
      releaseLog:
        description: 'Location of the Release Log file.'
        required: true

env:
  vulkanSdkVersion: '1.3.239.0' # Lowest version that ships with DXC is 1.2.148.0

jobs:
  build:
    name: Build ${{ matrix.profile }}
    runs-on: windows-latest
    strategy:
      fail-fast: true
      matrix:
        profile: [ windows-x64, windows-x86 ]
        include:
          - profile: windows-x64
            triplet: x64-windows
            architecture: x64
          - profile: windows-x86
            triplet: x86-windows
            architecture: x86

    env:
      VCPKG_DEFAULT_TRIPLET: ${{ matrix.triplet }}

    steps:
      - name: Checking out sources
        uses: actions/checkout@master
        with:
          submodules: true

      - name: Update version
        working-directory: "${{ github.workspace }}"
        shell: powershell
        run: ".\\write-version.ps1 -major ${{ github.event.inputs.major }} -minor ${{ github.event.inputs.minor }} -build ${{ github.event.inputs.build }}"

      - name: Setup build environment
        id: setup-environment
        run: |
          echo "VCPKG_FEATURE_FLAGS=manifests" >> $env:GITHUB_ENV

      - name: Setup Vulkan SDK 
        uses: humbletim/install-vulkan-sdk@v1.1.1
        with:
          version: ${{ env.vulkanSdkVersion }}
          cache: true

      - name: Retrieve latest CMake build
        uses: lukka/get-cmake@latest

      - name: Restore or build vcpkg
        uses: lukka/run-vcpkg@v10
        with:
          vcpkgDirectory: '${{ github.workspace }}/src/Modules/vcpkg'
          vcpkgJsonGlob: '**/vcpkg.json'

      - name: Build with CMake and Ninja (Debug)
        id: build-with-cmake-debug
        uses: lukka/run-cmake@v10
        with:
          cmakeListsTxtPath: '${{ github.workspace }}/src/CMakeLists.txt'
          configurePreset: '${{ matrix.profile }}-debug'
          buildPreset: '${{ matrix.profile }}-debug'
          
      - name: Upload build artifacts (Debug)
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: LiteFX-${{ matrix.triplet }}-build-dbg
          path: '${{ github.workspace }}/out/build/${{ matrix.profile }}-debug'

      - name: Install with CMake (Debug)
        run: |
          Set-Location '${{ github.workspace }}/out/build/${{ matrix.profile }}-debug'
          cmake --install .
          
      - name: Build with CMake and Ninja (Release)
        id: build-with-cmake-release
        uses: lukka/run-cmake@v10
        with:
          cmakeListsTxtPath: '${{ github.workspace }}/src/CMakeLists.txt'
          configurePreset: '${{ matrix.profile }}-release'
          buildPreset: '${{ matrix.profile }}-release'

      - name: Upload build artifacts (Release)
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: LiteFX-${{ matrix.triplet }}-build-rel
          path: '${{ github.workspace }}/out/build/${{ matrix.profile }}-release'

      - name: Install with CMake (Release)
        run: |
          Set-Location '${{ github.workspace }}/out/build/${{ matrix.profile }}-release'
          cmake --install .
          
      - name: Sign binaries
        uses: dlemstra/code-sign-action@v1
        with:
          certificate: '${{ secrets.SIGN_CERTIFICATE_BASE64 }}'
          password: '${{ secrets.SIGN_CERTIFICATE_PASSWORD }}'
          folder: '${{ github.workspace }}/out/install/'
          recursive: true

      - name: Upload install artifacts
        uses: actions/upload-artifact@v3
        with:
          name: LiteFX-${{ matrix.triplet }}-install
          path: '${{ github.workspace }}/out/install/${{ matrix.profile }}-release'
          if-no-files-found: error 
          
  publish:
    name: 'Publish'
    needs: build
    runs-on: ubuntu-latest
      
    steps:
      - name: Checking out sources
        uses: actions/checkout@master
        with:
          submodules: true
          token: ${{ secrets.RELEASE_BOT_PAT }}

      - name: Update version
        working-directory: ${{ github.workspace }}
        run: |
          #sudo apt-get update
          #sudo apt-get install -y wget apt-transport-https software-properties-common
          #wget -q https://packages.microsoft.com/config/ubuntu/16.04/packages-microsoft-prod.deb
          #sudo dpkg -i packages-microsoft-prod.deb
          #sudo apt-get update
          #sudo apt-get install -y powershell
          pwsh -File .\\write-version.ps1 -major ${{ github.event.inputs.major }} -minor ${{ github.event.inputs.minor }} -build ${{ github.event.inputs.build }}

      - name: Build documentation
        uses: mattnotmitt/doxygen-action@v1
        with:
          working-directory: .
          doxyfile-path: ./.doxyfile

      - name: Collect changes and push commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with:    
          commit_user_name: Release Bot 🤖
          commit_user_email: 18394207+github-actions[bot]@users.noreply.github.com
          commit_message: Release ${{ github.event.inputs.major }}.${{ github.event.inputs.minor }}.${{ github.event.inputs.build }} 🚀
          status_options: --untracked-files=all
          add_options: --ignore-removal
          #push_options: --force
          skip_dirty_check: true
          skip_fetch: true
          disable_globbing: true
          tagging_message: 'v${{ github.event.inputs.major }}.${{ github.event.inputs.minor }}.${{ github.event.inputs.build }}'
          
      - name: Download windows-x64 artifacts...
        uses: actions/download-artifact@master
        with:
          name: LiteFX-x64-windows-install
          path: artifacts/x64/
          
      - name: Zip x64 artifacts
        uses: papeloto/action-zip@v1
        with:
          files: artifacts/x64/
          dest: windows-x64.zip
          recursive: true
          
      - name: Download windows-x86 artifacts...
        uses: actions/download-artifact@master
        with:
          name: LiteFX-x86-windows-install
          path: artifacts/x86/
          
      - name: Zip x86 artifacts
        uses: papeloto/action-zip@v1
        with:
          files: artifacts/x86/
          dest: windows-x86.zip
          recursive: true
          
      - name: Create release
        uses: ncipollo/release-action@v1
        with:
            artifacts: windows-x64.zip,windows-x86.zip
            token: ${{ secrets.RELEASE_BOT_PAT }}
            bodyFile: "${{ github.workspace }}/${{ github.event.inputs.releaseLog }}"
            name: "v${{ github.event.inputs.major }}.${{ github.event.inputs.minor }}.${{ github.event.inputs.build }}"
            tag: "v${{ github.event.inputs.major }}.${{ github.event.inputs.minor }}.${{ github.event.inputs.build }}"
