# Copyright (c) 2023 Carsten Rudolph
name: Weekly

on:
  workflow_dispatch:
    inputs:
      uploadBuildArtifacts:
        description: 'Upload Build Artifacts'
        required: true
        default: 'false'
        
  schedule: 
    - cron: '1 0 * * 1'         # Run every monday night at 00:01 AM (UTC).
    
env:
  vulkanSdkVersion: '1.4.328.1'
  llvmVersion: '20.1.8'

jobs:
  job:
    name: windows-latest-weekly
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        profile: [ windows-x64-msvc, windows-x86-msvc, windows-x64-clang ]
        include:
          - profile: windows-x64-msvc
            compiler: msvc
            triplet: x64-windows
            configuration: windows-msvc-x64-release
            architecture: x64
          - profile: windows-x86-msvc
            compiler: msvc
            triplet: x86-windows
            configuration: windows-msvc-x86-release
            architecture: x86
          - profile: windows-x64-clang
            compiler: clang
            triplet: x64-windows
            configuration: windows-clang-x64-release
            architecture: x64
            
    env:
      VCPKG_DEFAULT_TRIPLET: ${{ matrix.triplet }}-rel
      VCPKG_FEATURE_FLAGS: 'manifests'
      
    steps:
      - name: Setup Vulkan SDK 
        uses: jakoch/install-vulkan-sdk-action@v1
        with:
          vulkan_version: ${{ env.vulkanSdkVersion }}
          install_runtime: true
          cache: true
          stripdown: false
       
      - name: Setup build environment
        id: setup-environment
        run: |
          cp "C:\VulkanSDK\${{ env.vulkanSdkVersion }}\runtime\x64\vulkan-1.dll" "C:\Windows\System32\vulkan-1.dll"
          cp "C:\VulkanSDK\${{ env.vulkanSdkVersion }}\runtime\x86\vulkan-1.dll" "C:\Windows\SysWOW64\vulkan-1.dll"
          
      - name: Update LLVM
        if: ${{ matrix.compiler == 'clang' }}
        uses: KyleMayes/install-llvm-action@v2.0.9
        with:
          version: ${{ env.llvmVersion }}

      - name: Checking out sources
        uses: actions/checkout@master
        with:
          submodules: true
          
      - name: Retrieve latest CMake build
        uses: lukka/get-cmake@latest

      - name: Restore or build vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: '${{ github.workspace }}/src/Modules/vcpkg'
          vcpkgJsonGlob: '**/src/vcpkg.json'

      - name: Build with CMake and Ninja
        id: build-with-cmake
        uses: lukka/run-cmake@v10
        with:
          cmakeListsTxtPath: '${{ github.workspace }}/src/CMakeLists.txt'
          configurePreset: '${{ matrix.configuration }}'
          buildPreset: '${{ matrix.configuration }}'
          
      - name: Upload build artifacts
        if: ${{ github.event.inputs.uploadBuildArtifacts == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: LiteFX-${{ matrix.profile }}-build
          path: '${{ github.workspace }}/out/build/${{ matrix.configuration }}'
          
      - name: Install with CMake
        run: |
          Set-Location '${{ github.workspace }}/out/build/${{ matrix.configuration }}'
          cmake --install .

      - name: Upload install artifacts
        uses: actions/upload-artifact@v4
        with:
          name: LiteFX-${{ matrix.profile }}-install
          path: '${{ github.workspace }}/out/install/${{ matrix.configuration }}'
